[app]
    project_name = TweetEat

[twitter]
    api_username = ""
    api_password = ""
    streamline_keywords = apple,dell,acer

[mongodb]
    server = "localhost"
    username = ""
    password = ""
    database = "tweeteat"