[app]
    name = Twattle

[twitter]
    api_username = ""
    api_password = ""

[mongodb]
    server = "localhost"
    username = ""
    password = ""
    database = "twattle"

[processor]
    max_tweets = 1000

[mysql]
    username = ""
    password = ""
    database = ""
    server = ""
