[app]
    name = TweetEat

[twitter]
    api_username = ""
    api_password = ""

[mongodb]
    server = "localhost"
    username = ""
    password = ""
    database = "tweeteat"

[processor]
    max_tweets = 1000