body{
    font-family: Verdana;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#firstProd {
    position: absolute;
    left: 42px;
    width: 400px;
}
#container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: 100%;
}
#secondProd {
    position: absolute;
	right: 42px;
    width: 400px;
    float: right;
}

.prodImg {
    height: 300px;
}

.prodContainer {
text-align:center;
}

.result{
text-align:center;
margin-bottom:20px;
}
.result h2{
font-family: Verdana;
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 15px;
}

.result span{
    color: #000000;
    display: block;
    font-size: 16px;
    margin: 0 auto;
}

.more{
position:relative;
text-align:left;
margin-bottom:40px;
}


#like{
height: 30px;
position:relative;
width:1024px;
margin:0 auto;
margin-top:20px;
margin-bottom:20px;
}

.twitter{
float:left;
margin-left:10px;
}

.facebook{
float:right;
margin-right:10px;
}

#caption{
   font-family: Georgia;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 40px;
    margin-top: 50px;
    text-align: center;
}

li, ul{
    padding:0px;
    margin:0px;
}

.tweet{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.good{
    color:#168001;
}

.bad{
    color:#9a0101;
}