body {
    padding-top: 60px;
}

.battle {
    text-align: center;
}

.battle-image {
    width: 468px;
    display: inline-block;
    vertical-align: middle;
}

.battle-sentiment {
    width: 468px;
    display: inline-block;
}

.battle-sentiment .positive {
    color: green;
}

.battle-sentiment .negative {
    color: red;
}

.battle-sentiment .total {
    font-size: 72px;
    line-height: 72px;
}

.battle-tweets table {
    width: 400px;
    margin: 0 34px;
    display: inline-block;
    vertical-align: top;
}

footer .twitter {
    margin-right: 50px;
}